<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>19/09/19 10:53:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test23CMSPayPall.CMSPAYPALLSUSCREAR()[pri:45, instance:test.Test23CMSPayPall@59f99ea]">CMSPAYPALLSUSCREAR</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/19 10:53:31</td>   <td>30578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test23CMSPayPall.CMSPAYPALLSUSEDITAR()[pri:46, instance:test.Test23CMSPayPall@59f99ea]">CMSPAYPALLSUSEDITAR</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/19 10:54:01</td>   <td>60794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test23CMSPayPall.CMSPAYPALLSUSELIMINAR()[pri:47, instance:test.Test23CMSPayPall@59f99ea]">CMSPAYPALLSUSELIMINAR</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/19 10:54:30</td>   <td>89779</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.CloseChrome()[pri:0, instance:test.Test23CMSPayPall@59f99ea]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/19 10:52:51</td>   <td>-8745</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test23CMSPayPall.IngresoAmbiente()[pri:0, instance:test.Test23CMSPayPall@59f99ea]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/19 10:53:29</td>   <td>29252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test23CMSPayPall@59f99ea]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/19 10:54:00</td>   <td>59640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test23CMSPayPall@59f99ea]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/19 10:54:28</td>   <td>88559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test23CMSPayPall@59f99ea]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
</table>
